%h2 Comments
%p.close_comments close[x]
- @recipe.comments.each do |com|
  %div.com_username= 'From: ' + com.username
  .com_user_img= image_tag com.user_image
  %div.com_created= 'Date: ' + com.created_at.to_s.slice(0,10)
  %div.com_comment= com.comment
