/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//-------navigation--------//
@import url('http://fonts.googleapis.com/css?family=Montserrat');
body{
  //background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  //background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 100%,#b4e391 100%,#61c419 100%);
  //background: -webkit-linear-gradient(-45deg, #eaefb5 0%,#e1e9a0 100%);
  //background: -webkit-radial-gradient(center, ellipse cover, #f0f9ff 0%,#cbebff 97%,#a1dbff 100%);
  background: url('http://evernode.delacqua.us/img/johngmailcom/john/1562395-o5tb2.jpg');
  background-size: cover;
  font-family: 'Montserrat', sans-serif;
}

//--------home screen-------//

#background {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/822395-1t5vz.jpg');
-webkit-filter: blur(3px);
background-size: cover;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
}

#main_title{
margin: 290px 0px 0px 0px;
color: whitesmoke;
text-align: center;
text-shadow: 1px 1px 3px black, -1px -1px 3px black;
position: relative;
font-size: 20px;
}

#black_folder{
  background-color: rgba(250, 250, 250, 0.7);
  position: absolute;
  top: 571px;
  width: 100%;
  height: 40%;
  border-top: 2px solid whitesmoke;
  left: 0px;
}

#black_folder a{
  color: white;
  text-decoration: none;
  text-shadow: 1px 1px 3px black, -1px -1px 3px black;
  font-size: 22px;
}

#go_to_rec {
  position: absolute;
  top: 150px;
  left: 480px;
  padding: 70px 0px 0px 0px;
}

#primo {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/9892395-11es2.png');
background-size: cover;
width: 70px;
height: 70px;
position: absolute;
top: 150px;
left: 490px;
}

#go_to_create {
  position: absolute;
  top: 150px;
  left: 800px;
  padding: 70px 0px 0px 0px;
}

#secondo {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/3362395-796vi.png');
background-size: cover;
width: 70px;
height: 70px;
position: absolute;
top: 150px;
left: 800px;
}

#go_to_plan {
  position: absolute;
  top: 150px;
  left: 1105px;
  padding: 70px 15px 0px 15px;
}

#terzo {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/3462395-18mfm.png');
background-size: cover;
width: 80px;
height: 60px;
position: absolute;
top: 155px;
left: 1100px;
}

//---------sign-up----------------//


#background_sign_up {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/8232395-12pxl.jpg');
-webkit-filter: blur(2px);
background-size: cover;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 0;
}

#sign_up_form_wrap {
  position: relative;
  z-index: 1;
  width: 350px;
  top: 70px;
  left: 930px;
  padding: 0px 0px 30px 60px;
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  color: white;
}

#signUp{
  margin: 10px 0px 10px -60px;
  border-bottom: 1px solid grey;
  padding: 0px 0px 5px 20px;
}

#user_email {
position: relative;
left: 26px;
width: 170px;
margin-bottom: 15px;
}

#user_username {
width: 170px;
margin-bottom: 15px;
}

#user_password {
width: 166px;
position: relative;
left: 4px;
margin-bottom: 15px;
}

#user_password_confirmation{
width: 180px;
margin-bottom: 15px;
}

#sign_up_form_wrap a{
  position: absolute;
  top: 177px;
  left: -530px;
  color: white;
  font-size: 22px;
}

#sign_up_form_wrap input.btn{
  position: relative;
  left: 90px;
  top: 30px;
}

#welcome {
  position: relative;
  z-index: 1;
  top: 300px;
  left: 50px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
}

//-----------------//
.devise_navigation{
float: right;
}

#user {

}

.devise_navigation li{
display: inline;
}
.devise_navigation a{
color: whitesmoke;
text-decoration: none;
text-shadow: 1px 1px 1px black;
}

#sign_out a{
border-right: transparent;
}

#sign_in a{
border-right: transparent;
}

.main_navigation {
margin: 0px 0px 0px 0px;
background: linear-gradient(to bottom right, whitesmoke, rgba(130, 0, 0, 0));
width: 100%;
position: absolute;
top: 0px;
left: 0px;
height: 30px;
padding: 3px 0px 0px 0px;
font-size: 18px;
box-shadow: 0px 0px 5px black;

}

.main_navigation li{
display: inline;
}

.main_navigation a{
text-decoration: none;
color: whitesmoke;
border-right: 1px solid whitesmoke;
padding: 0px 10px 0px 10px;
text-shadow: 1px 1px 1px black;
border-right: 1px solid black;
}

.flash_notice {
  margin-top: 7px;
  visibility: hidden;
}

#title{
margin: 30px 0px 0px 0px;
}

//-------sign_in_page-----//

#background_sign_in {
background: url('http://evernode.delacqua.us/img/johngmailcom/john/2322395-oupdk.jpg');
-webkit-filter: blur(3.3px);
background-size: cover;
position: absolute;
top: 0px;
left: 0px;
width: 100%;
height: 100%;
z-index: 0;
}

#welcome_back {
  position: relative;
  top: 220px;
  font-size: 26px;
  color: white;
  width: 730px;
  margin: auto;
  text-shadow: 1px 1px 3px black;
}

#sign_in_form_wrap {
  position: relative;
  margin: auto;
  z-index: 1;
  width: 350px;
  top: 240px;
  left: 0px;
  padding: 0px 0px 30px 60px;
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  color: white;
}

#signIn{
  margin: 10px 0px 10px -60px;
  border-bottom: 1px solid grey;
  padding: 0px 0px 5px 20px;
}

#editUser{
margin: 40px 0px 20px 0px;
}

//-------edit_user_page---//

#edit_user {
  padding: 5px 0px 0px 5px;
  position: relative;
  top: 0px;
  left: 260px;
  border: 1px solid;
  width: 900px;
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.5);
  font-size: 25px;
}

#edit_user .btn{
  font-size: 30px;
  width: 100px;
  margin: 0px 0px 20px 0px;
  position: relative;
  top: 5px;
  left: 15px;
}

#edit_user input {
  height: 20px;
  margin: 0px 10px 0px 10px;
  position: relative;
  top: 0px;
  font-size: 20px;
}

#avatar img{
position: absolute;
top: 90px;
left: 1230px;
border: 2px solid whitesmoke;
}

//------scroll down navigation------//

#scroll_down {
text-decoration: none;
color: whitesmoke;
padding: 0px 10px 0px 10px;
text-shadow: 1px 1px 1px black;
border-right: 1px solid black;
}

#add_new_recipe {
text-decoration: none;
color: whitesmoke;
padding: 0px 10px 0px 10px;
text-shadow: 1px 1px 1px black;
border-right: 1px solid black;
}

#here {
  clear: both;
  border: 1px solid black;
  margin: 0px 0px 0px 0px;
  width: 100%;
  color: white;
  height: 330px;
  background: url("http://evernode.delacqua.us/img/johngmailcom/john/442395-1pq2h.jpg");
  background-size: cover;
}

//----cool button----//
#sign_up_form_wrap input.btn {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:black;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  padding: 0px;
}
#sign_up_form_wrap input.btn:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}#sign_up_form_wrap input.btn:active {
  position:relative;
  top:1px;
}

#main_title a {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 0px 1px 0px 0px #ffffff;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
  background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
  background-color:#ededed;
  -webkit-border-top-left-radius:6px;
  -moz-border-radius-topleft:6px;
  border-top-left-radius:6px;
  -webkit-border-top-right-radius:6px;
  -moz-border-radius-topright:6px;
  border-top-right-radius:6px;
  -webkit-border-bottom-right-radius:6px;
  -moz-border-radius-bottomright:6px;
  border-bottom-right-radius:6px;
  -webkit-border-bottom-left-radius:6px;
  -moz-border-radius-bottomleft:6px;
  border-bottom-left-radius:6px;
  text-indent:0;
  border:1px solid #dcdcdc;
  display:inline-block;
  color:black;
  font-family:arial;
  font-size:15px;
  font-weight:bold;
  font-style:normal;
  height:50px;
  line-height:50px;
  width:100px;
  text-decoration:none;
  text-align:center;
  text-shadow:1px 1px 0px #ffffff;
  padding: 0px;
}
#main_title a:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
  background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
  background-color:#dfdfdf;
}#main_title a:active {
  position:relative;
  top:1px;
}
