/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

//-------navigation--------//
@import url('http://fonts.googleapis.com/css?family=Montserrat');
body{
  //background: -webkit-linear-gradient(-45deg, #1e5799 0%,#2989d8 50%,#207cca 51%,#7db9e8 100%);
  //background: -webkit-linear-gradient(-45deg, #b4e391 0%,#61c419 100%,#b4e391 100%,#61c419 100%);
  background: -webkit-linear-gradient(-45deg, #eaefb5 0%,#e1e9a0 100%);
  font-family: 'Montserrat', sans-serif;
}

.devise_navigation{
float: right;
}

#user {

}

.devise_navigation li{
display: inline;
}
.devise_navigation a{
color: whitesmoke;
text-decoration: none;
text-shadow: 1px 1px 1px black;
}

#sign_out a{
border-right: transparent;
}

.main_navigation {
margin: 0px 0px 0px 0px;
background: azure;
width: 100%;
position: absolute;
top: 0px;
left: 0px;
height: 30px;
padding: 3px 0px 0px 0px;
font-size: 18px;
box-shadow: 0px 0px 5px black;

}

.main_navigation li{
display: inline;
}

.main_navigation a{
text-decoration: none;
color: whitesmoke;
border-right: 1px solid whitesmoke;
padding: 0px 10px 0px 10px;
text-shadow: 1px 1px 1px black;
border-right: 1px solid black;
}

.flash_notice {
  margin-top: 7px;
}

#title{
margin: 30px 0px 0px 0px;
}

//-------sign_in_page-----//

#signIn{
margin: 40px 0px 0px 0px;
}

#signUp{
margin: 20px 0px 10px 0px;
}

#editUser{
margin: 40px 0px 20px 0px;
}

//-------edit_user_page---//

#edit_user {
  padding: 5px 0px 0px 5px;
  position: relative;
  top: 0px;
  left: 260px;
  border: 1px solid;
  width: 900px;
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.5);
  font-size: 25px;
}

#edit_user .btn{
  font-size: 30px;
  width: 100px;
  margin: 0px 0px 20px 0px;
  position: relative;
  top: 5px;
  left: 15px;
}

#edit_user input {
  height: 20px;
  margin: 0px 10px 0px 10px;
  position: relative;
  top: 0px;
  font-size: 20px;
}

