// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('http://fonts.googleapis.com/css?family=Indie+Flower');
@import url('http://fonts.googleapis.com/css?family=Concert+One');

//-------days wrap-----//

#weeks_wrap{
margin: 40px 0px 0px 0px;
}

//-------days wrap-----//

#user_week{
margin: 0px 0px 70px 0px;
}

.days_wrap {
border: 1px solid;
width: 260px;
height: 300px;
float: left;
margin: 0px 50px 100px 50px;
}
/*
#new_day {
clear: both;
width: 280px;
border: 1px solid;
}
*/
.day_image img{
  background-size: cover;
  width: 260px;
  height: 214px;
}

.link_show_recipe a{
  padding: 0px 0px 280px 260px;
  position: relative;
  top: -304px;
}

#mostra {
  position: relative;
  top: 300px;
}

#risultati {
position: relative;
top: 300px;
}

#new_day input{
width: 160px;
}

#monday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 110px;
  visibility: hidden;
}

#tuesday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 310px;
  visibility: hidden;
}

#wednesday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 510px;
  visibility: hidden;
}

#thursday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 710px;
  visibility: hidden;
}

#friday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 910px;
  visibility: hidden;
}

#saturday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 1110px;
  visibility: hidden;
}

#sunday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 1310px;
  visibility: hidden;
}
//----draggable & droppable----//

.fav_recipe_wrap {
  border: 1px solid;
  width: 130px;
  height: 141px;
  background: #383838;
  box-shadow: 5px 5px 5px #1A1717;
  padding: 0px 0px 0px 0px;
  float: left;
  margin: 0px 5px 20px 25px;
  border-radius: 10px;
}

.fav_index_image img {
  background-size: cover;
  width: 130px;
  height: 100px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.fav_name {
  position: relative;
  color: aliceblue;
  text-shadow: 1px 1px 3px #070707, -1px -1px 3px #070707;
  width: 128px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  height: 35px;
}

#drop_box {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 110px;
  top: 200px;
  z-index: -1;
}


#drop_box_tuesday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 310px;
  top: 200px;
  z-index: -1;
}

#drop_box_wednesday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 510px;
  top: 200px;
  z-index: -1;
}

#drop_box_thursday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 710px;
  top: 200px;
  z-index: -1;
}

#drop_box_friday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 910px;
  top: 200px;
  z-index: -1;
}

#drop_box_saturday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 1110px;
  top: 200px;
  z-index: -1;
}

#drop_box_sunday {
  border: 1px solid;
  width: 160px;
  height: 170px;
  position: absolute;
  left: 1310px;
  top: 200px;
  z-index: -1;
}
