// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('http://fonts.googleapis.com/css?family=Indie+Flower');
@import url('http://fonts.googleapis.com/css?family=Concert+One');

//-------days wrap-----//

#weeks_wrap{
margin: 40px 0px 0px 0px;
}

//-------days wrap-----//

#user_week{
margin: 0px 0px 70px 0px;
}

.days_wrap {
border: 1px solid;
width: 260px;
height: 300px;
float: left;
margin: 0px 50px 100px 50px;
}

#new_day {
clear: both;
width: 280px;
border: 1px solid;
}

.day_image img{
  background-size: cover;
  width: 260px;
  height: 214px;
}

.link_show_recipe a{
  padding: 0px 0px 280px 260px;
  position: relative;
  top: -304px;
}

#new_day input{
width: 250px;
}

//----draggable & droppable----//

.fav_recipe_wrap {
  border: 1px solid;
  width: 130px;
  height: 141px;
  background: #383838;
  box-shadow: 5px 5px 5px #1A1717;
  padding: 0px 0px 0px 0px;
  float: left;
  margin: 0px 5px 20px 25px;
  border-radius: 10px;
}

.fav_index_image img {
  background-size: cover;
  width: 130px;
  height: 100px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.fav_name {
  position: relative;
  color: aliceblue;
  text-shadow: 1px 1px 3px #070707, -1px -1px 3px #070707;
  width: 128px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  height: 35px;
}

#drop_box {
  border: 1px solid;
  width: 300px;
  height: 300px;
  position: relative;
  left: 400px;
}



