// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('http://fonts.googleapis.com/css?family=Indie+Flower');
@import url('http://fonts.googleapis.com/css?family=Concert+One');

//-------week index-----//

#add_week{
color: white;
  font-size: 24px;
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
    position: relative;
    top: 40px;
    background-color: rgba(235, 229, 229, 0.5);
    padding: 3px 5px 5px 5px;
    left: 280px;
    border: 1px solid;
    box-shadow: 1px 1px 3px #1A1717;
}

#add_week:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

#weeks_wrap{
margin: 40px 0px 0px 0px;
}

#weeks_wrap h1{
color: white;
    text-shadow: 1px 1px 3px black;
}

#full_week_wrap{
color: white;
    text-shadow: 1px 1px 3px black;
    margin: 40px 0px 0px 0px;
}

#full_week_wrap p{
  font-size: 22px;
}

#week_wrap h2{
color: white;
text-shadow: 1px 1px 3px black;
}

.week_wrap{
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.3);
  border: 1px solid white;
  float: left;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 0px 30px;
}

.week_wrap a{
  background-color: rgba(235, 229, 229, 0.5);
  padding: 2px 2px 2px 2px;
  border: 1px solid;
  box-shadow: 1px 1px 3px #1A1717;
}

.week_wrap a:hover{
  box-shadow: 1px 1px 0px #1A1717;
}


.week_wrap h2{
color: white;
text-shadow: 1px 1px 3px black;
text-decoration: none;
}

.week_user {
border-bottom: 1px solid grey;
}

.week_wrap p{
font-size: 22px;
}

.week_wrap a{
color: white;
text-shadow: 1px 1px 3px black;
text-decoration: none;
}

#new_week_date{
  color: white;
  text-shadow: 1px 1px 3px black;
  position: relative;
  top: 270px;
}

#week_week_date{
  position: relative;
  top: 260px;
  width: 300px;
  left: 0px;
}
//-------week edit-----//

#edit_week_wrap{
margin: 40px 0px 0px 0px;
  box-shadow: 5px 5px 5px #1A1717;
  background-color: rgba(235, 229, 229, 0.3);
  border: 1px solid white;
  padding: 10px 10px 10px 10px;
  width: 330px;
}

#edit_week_date {
margin: 0px 0px 10px 0px;
}

#edit_input {
width: 200px;
}

#edit_week_wrap h2{
color: white;
text-shadow: 1px 1px 3px black;
}

#update_week {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  position: relative;
  top: 20px;
  background-color: rgba(235, 229, 229, 0.5);
  padding: 3px 5px 5px 5px;
  left: 0px;
  border: 1px solid;
  box-shadow: 1px 1px 3px #1A1717;
}

#update_week:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

.reset_days {
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  position: relative;
  top: -17px;
  background-color: rgba(235, 229, 229, 0.5);
  padding: 3px 5px 5px 5px;
  left: 180px;
  border: 1px solid;
  box-shadow: 1px 1px 3px #1A1717;
}

.reset_days:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

//-------days wrap-----//

#user_week{
margin: 0px 0px 70px 0px;
}

.days_wrap {
border: 1px solid;
width: 260px;
height: 300px;
float: left;
margin: 0px 50px 100px 50px;
color: white;
text-shadow: 1px 1px 3px black;
background: #383838;
  box-shadow: 5px 5px 5px #1A1717;
}

.day_day {
text-align: center;
  box-shadow: 5px 5px 5px #1A1717;
  position: relative;
  left: -3px;
}

.day_name {
  margin: 0px 0px 0px 0px;
  position: relative;
  top: -227px;
  font-size: 18px;
  text-transform: capitalize;
  text-align: center;
}

.day_image img{
  background-size: cover;
  width: 260px;
  height: 214px;
  position: relative;
  top: 35px;
}

.link_show_recipe a{
  padding: 0px 0px 280px 260px;
  position: relative;
  top: -290px;
}

#mostra {
  position: relative;
  top: 300px;
  color: white;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  background-color: rgba(235, 229, 229, 0.5);
  padding: 3px 5px 5px 5px;
  border: 1px solid;
  box-shadow: 1px 1px 3px #1A1717;
  width: 116px;
}

#mostra:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

#vegetarian {
  position: relative;
  top: 260px;
  color: white;
  left: 150px;
  font-size: 24px;
  text-shadow: 1px 1px 3px black;
  text-decoration: none;
  background-color: rgba(235, 229, 229, 0.5);
  padding: 3px 5px 5px 5px;
  border: 1px solid;
  box-shadow: 1px 1px 3px #1A1717;
  width: 135px;
}

#vegetarian:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

#hr {
  border-top: 1px solid gray;
  width: 450px;
  position: relative;
  top: 240px;
  left: 40px;
}

#risultati {
position: relative;
top: 300px;
}

#risultati_ipad {
position: relative;
top: 300px;
}

#risultati2 {
position: relative;
top: 300px;
}

#risultati_ipad2 {
position: relative;
top: 300px;
}

#new_day input{
width: 160px;
}

#monday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 110px;
  visibility: hidden;
}

#monday_ipad {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 110px;
  visibility: hidden;
}

.days_button{
color: white;
  font-size: 24px;
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
    background-color: rgba(235, 229, 229, 0.5);
    padding: 3px 5px 5px 5px;
    border: 1px solid;
    box-shadow: 1px 1px 3px #1A1717;
}

.days_button:hover{
    box-shadow: 1px 1px 0px #1A1717;
}

#tuesday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 310px;
  visibility: hidden;
}

#wednesday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 510px;
  visibility: hidden;
}

#thursday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 710px;
  visibility: hidden;
}

#friday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 910px;
  visibility: hidden;
}

#saturday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 1110px;
  visibility: hidden;
}

#sunday {
  border: 1px solid;
  width: 170px;
  height: 170px;
  position: absolute;
  top: 200px;
  left: 1310px;
  visibility: hidden;
}

#ipad_icon {
  position: relative;
  top: -230px;
  left: 610px;
  background: url("http://evernode.delacqua.us/img/johngmailcom/john/5546469-1f2m8.png");
  background-size: cover;
  width: 60px;
  height: 75px;
}

.show_iPad {
  padding: 0px 58px 55px 0px;
}

//----draggable & droppable----//

.fav_recipe_wrap {
  border: 1px solid;
  width: 130px;
  height: 170px;
  background: #383838;
  box-shadow: 5px 5px 5px #1A1717;
  padding: 0px 0px 0px 0px;
  float: left;
  margin: 0px 5px 20px 25px;
  border-radius: 10px;
}

.fav_index_image img {
  background-size: cover;
  width: 130px;
  height: 100px;
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
}

.fav_name {
  position: relative;
  color: aliceblue;
  text-shadow: 1px 1px 3px #070707, -1px -1px 3px #070707;
  width: 128px;
  text-transform: uppercase;
  font-family: 'Indie Flower', cursive;
  font-size: 15px;
  margin: 0px 0px 0px 0px;
  height: 35px;
}

#drop_box {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 110px;
  top: 200px;
  z-index: -1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 3px black;
}


#drop_box_ipad {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 110px;
  top: 200px;
  z-index: 1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  font-size: 28px;
  color: white;
  text-shadow: 1px 1px 3px black;
}


#drop_box_tuesday {
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 310px;
  top: 200px;
  z-index: -1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_tuesday_ipad {
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 310px;
  top: 200px;
  z-index: 1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_wednesday {
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 510px;
  top: 200px;
  z-index: -1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_wednesday_ipad {
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 510px;
  top: 200px;
  z-index: 1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_thursday {
  width: 170px;
  height: 170px;
  position: absolute;
  font-size: 28px;
  left: 710px;
  top: 200px;
  z-index: -1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_thursday_ipad {
  width: 170px;
  height: 170px;
  position: absolute;
  font-size: 28px;
  left: 710px;
  top: 200px;
  z-index: 1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_friday {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 910px;
  top: 200px;
  font-size: 28px;
  z-index: -1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_friday_ipad {
  width: 170px;
  height: 170px;
  position: absolute;
  left: 910px;
  top: 200px;
  font-size: 28px;
  z-index: 1;
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_saturday {
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1110px;
  top: 200px;
  z-index: -1;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_saturday_ipad {
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  text-align: center;
  font-size: 28px;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1110px;
  top: 200px;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_sunday {
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  font-size: 28px;
  text-align: center;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1310px;
  top: 200px;
  z-index: -1;
  color: white;
  text-shadow: 1px 1px 3px black;
}

#drop_box_sunday_ipad {
  background-color: rgba(235, 229, 229, 0.7);
  border: 1px solid white;
  font-size: 28px;
  text-align: center;
  width: 170px;
  height: 170px;
  position: absolute;
  left: 1310px;
  top: 200px;
  z-index: 1;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.selected {
border: 5px ridge #98bf21;
}
